<main class="fluid-container">
        <app-header></app-header>

        <div id="start" class="d-flex justify-content-center info">
                 <div class="info-img">
                         <img src="assets/welcome-module/info-1.jpg" alt="info-1">
                 </div>
                           
                <div class="text">
                        <h3>Store any file</h3>
                        <p>
                                Keep photos, stories, designs, drawings, 
                                recordings, videos, and more.
                                Your first 15 GB of storage are free with a Google Account.
                        </p>
                </div>
        </div>

        <div class="thumbnail info-thumbnail">
        </div>  

        <div class="d-flex justify-content-center feature-1">
                        <div class="text">
                                        <h3>See your stuff anywhere</h3>
                                        <p>Your files in Drive can be reached from any smartphone, tablet, or computer.
                                                 So wherever you go, your files follow.</p>
                          </div>
                        <div class="feature-1-img">
                                <img src="assets/welcome-module/info-2.jpg" alt="example">
                        </div>
        </div>
       
        <div class="thumbnail feature-1-thumbnail">
        </div> 

        <div class="about-people">

                <div class="d-flex justify-content-center about-people-img">
                        <img src="assets/welcome-module/about-1.jpg" alt="about1">
                        <img src="assets/welcome-module/about-2.jpg" alt="about2">
                        <img src="assets/welcome-module/about-3.jpg" alt="about3">
                        <img src="assets/welcome-module/about-4.jpg" alt="about4">
                        <img src="assets/welcome-module/user-plus.png" alt="about5">
                </div>

                <div class="d-flex justify-content-center">
                        <div class="text about-people-text">
                                <h3>Share files and folders</h3>
                                <p>
                                   You can quickly invite others to view, download, 
                                   and collaborate on all the files you want–no
                                   email attachment needed.
                                </p>
                        </div>
                </div>

        </div>

        <div class="thumbnail about-people-thumbnail">

        </div>

        <div class="go-to-drive">

                <div class="d-flex justify-content-center goto-drive-img">
                        <img src="assets/welcome-module/logo-drive.png" alt="example">
                </div>

                <div class="d-flex justify-content-center text goto-drive-title">
                        <h3>Get started with Drive for free</h3>
                </div>

                <div class="d-flex justify-content-center  header-screen-gotodrive">
                        <div class="d-flex justify-content-center  header-screen-gotodrive-btn">

                                <a [routerLink]="[ '/storage' ]"> 
                                      <p>Go to Google Drive </p>
                                </a> 

                        </div>
                </div>

                <div class="d-flex justify-content-center goto-drive-more">
                        <div>
                                <a href="#"> 
                                        <p>Need more than 15 GB? Upgrade to Google</p>
                                                <i class="material-icons">
                                                        keyboard_arrow_right
                                                </i>
                                </a>
                        </div>
                </div>     
                        
                
        </div>

        <footer class="footer">

                <div class="d-flex justify-content-start footer-info">

                                <div class="d-flex justify-content-start footer-info-share"> 
                                        <p>Share Google Apps site: </p>
                                         <img src="assets/welcome-module/social.png" alt="Google+"/>  
                                </div>
                                <div class="d-flex justify-content-start">
                                        <p>Folow: </p> 
                                        <img src="assets/welcome-module/social.png" alt="Google+"/>
                                        <img src="assets/welcome-module/blogger.png" alt="Blogger"/>
                                </div>
                </div>

                <mat-divider></mat-divider>
              
                <div class="d-flex justify-content-around footer-nav">
                        <div>
                                <li><span class="footer-nav-title"> Drive </span></li>
                                <li>Meet Google Drive</li>
                                <li>Using Drive</li>
                                <li>Get Started with Drive</li>
                        </div>
                        <div>
                                <li class="footer-nav-title">Storage plans and pricing</li>
                                <li>Get more storage</li>
                                <li>Pricing FAQs</li>
                                <li>Free up space</li>
                        </div>
                        <div>
                                <li class="footer-nav-title">Downloads</li>
                                <li>Drive for Mac/PCvc</li>
                                <li>Drive for Androidc</li>
                                <li>Drive for iOS</li>
                        </div>
                        <div>
                                <li class="footer-nav-title">Support</li>
                                <li>Help Center for Drive</li>
                                <li>Google Drive Help Forum</li>
                                <li>Contact Us</li>
                        </div> 
                        <div>
                                <li class="footer-nav-title">Related Solutions</li>
                                <li>Google Docs</li>
                                <li>Google Sheets</li>
                                <li>Google Slides</li>
                                <li>Google Forms</li>
                                <li>Google Drive for Work</li>
                                <li>Google Cloud Platform</li>
                                <li>Google Apps for Education</li>
                                <li>Google Apps for Government</li>
                                <li>Google Business Solutions</li>
                        </div>
                </div>

                <div class="d-flex justify-content-between footer-culture">
                        <ul>
                                <li>Google</li>
                                <li>About Google</li>
                                <li>Privacy</li>
                                <li>Terms</li> 
                        </ul>

                        <img src="assets/welcome-module/culture.png" alt="culture">
                </div>
        </footer>
</main>


